#body-user #header, #body-settings #header, #body-public #header {
	transition: 0.3s;
	background-color: #333333;
	background-image: initial;
}

#body-user #header:hover, #body-settings #header:hover, #body-public #header:hover {
	height: 72px;
}

#content {
	transition: 0.3s;
}

#body-user #header:hover ~ #content, #body-settings #header:hover ~ #content, #body-public #header:hover ~ #content {
	height: 72px;
	padding-top: 72px;
}

#app-navigation:not(.vue) {
	transition: 0.3s;
}

#body-user #header:hover ~ #content > #app-navigation:not(.vue), #body-settings #header:hover ~ #content > #app-navigation:not(.vue), #body-public #header:hover ~ #content > #app-navigation:not(.vue) {
	top: 72px;
}
